/* GLOBAL STYLES */

* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
}

a {
    color: inherit;
}

/* CHARACTER PAGE STYLES */

.detail_layout {
    display: grid;
    margin: 0 auto;
    padding: 0 1rem 3rem;
    grid-gap: 2rem;
    grid-template-columns: 3fr 2fr 2fr;
    min-width: 42rem;
    max-width: 55rem;
}

.detail_header {
    font-size: 2rem;
    margin: 1rem 0 0;
    text-align: center;
    padding: 0.25rem;
    border: solid lightgray;
    border-width: 3px 0;
    grid-column: 1 / span 3;
}

.detail_product {
    position: relative;
}

@keyframes confirm {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.detail_character--confirm::after {
    position: absolute;
    right: 0;
    top: 0.5em;
    left: 0;
    text-align: center;
    font-size: 10em;
    color: rgb(28, 184, 65);
    content: "✔";
    text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.8);
    animation: confirm 2s ease-in-out forwards;
}

.detail_headline {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.detail_image {
    width: 100%;
}

.detail_details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
