/* CHARACTER LIST CONTENT STYLES */

character-list {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.characters_headline {
    padding-top: 1em;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.character_list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.character_list a {
    display: inline-block;
    border: 1px solid #333;
}

.character_list img {
    width: 84px;
}
